@page "/Statuses"
@inject HttpClient Http
@code
{
    private List<Status>? _statuses;

    protected override async Task OnInitializedAsync()
    {
        _statuses = await Http.GetFromJsonAsync<List<Status>>("https://localhost:7110/SupportHive/GetStatus");
    }
    
}

@attribute [StreamRendering]

<PageTitle>Status</PageTitle>

<h1>SupportHive</h1>
<p>Ticket status test page</p>
@if (_statuses == null)
{
    <div>Loading...</div>
}
else{
    <div>
        @foreach (var status in _statuses)
        {
            <ul>
                <li>@status.StatusName</li>
            </ul>
        }
    </div>
}



